%div.wrapper
  %div.side-bar
    %div.header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to edit_user_registration_path do
            %i.fa.fa-pencil-square-o.white
        %li.list
          = link_to new_group_path do
            %i.fa.fa-cog.white
    %div.groups
      %div.group
        = render partial: "sidebar_groups", collection: @groups, as: "group"
  %div.chat
    %div.header
      %div.left-header
        %div.left-header__title
          sampleグループ
        %ul.left-header__members
          Member :
          %li.member
            K
      %div.right-header
        %a.right-header__button
          = link_to "Edit" , ""
    %div.messages
      %div.message
        %div.upper-message
          %div.upper-message__user-name
            K
          %div.upper-message__date
            2018/08/09 03:47
        %div.lower-message
          %div.lower-message__content
            あああああ
    %div.form
      = form_for [@group, @message] do |f|
        %input{:name => "message", :class => "form__message",:placeholder=> "type a message"}
      %div.form__mask
        %label{:class => "form__mask__image",:for => "message_image"}
          %i.fa.fa-picture-o
            %input{:class => "hidden", :id => "message_image", :type => "file", :name => "message[image]"}
      %input{:name => "commit",:type => "submit",:value => "Send",:class => "form__submit"}
